VITE_ADMIN_EMAIL=admin@example.com
VITE_ADMIN_PASSWORD=aura@410

VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_API_KEY=your_api_key
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Backend API URL (for production)
VITE_API_URL=https://api.myglamaura.com
